<h1> Surveys </h1>

<% if @surveys %>
  <ul>
  <% @surveys.each do |survey| %>
    <li><%= link_to survey.name, survey %></li>
  <% end %>
  </ul>
<% else %>
  <h2>There are no surveys yet.</h2>
<% end %>

<%= link_to 'New Survey', new_survey_path, :class => 'btn btn-primary' %>